---
import "./projectsCard.css";
---

<section class="section">
  <div class="projects-card-container" id="project-card-container"></div>
</section>

<script src="./../../js/projectsCard.js"></script>
