---
import "./projectsCard.css";
---

<section class="section">
  <div class="projects-card-container">
    <div class="projects-card" id="project-card-container"></div>
  </div>
</section>

<script src="./../../js/projectsCard.js"></script>
