---
import "./projectsCard.css";
---

<section class="section">
  <div class="projects-card-container">
    <div class="projects-card">
      <img
        class="projects-coming-soon-img"
        src="https://picsum.photos/200/300.webp"
        alt="Projects Coming Soon"
      />
      <h2>Projects Coming Soon...</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
        distinctio iure laborum ut temporibus omnis nesciunt. Expedita est quo
        dolores ullam repudiandae velit architecto assumenda reiciendis aperiam,
        odio, iusto accusantium? Cupiditate deserunt recusandae debitis animi.
        Dignissimos, magnam.
      </p>
      <a href="/project-details" class="button">View Details</a>
    </div>
  </div>
</section>
