---
import "./projectDetails.css";
---

<section>
  <div class="project-details-container">
    <div class="project-details-card">
      <h2>Project Title</h2>
      <div class="leftside-contet details-sections">
        <div class="project-descriptions">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil
            sapiente voluptate unde dolorum, aspernatur eos iure cum illo aut
            ducimus animi debitis numquam suscipit qui asperiores placeat dolore
            vero. Cupiditate optio expedita quod perferendis tenetur, sequi
            minima ratione harum quas dolore exercitationem, vitae nobis omnis,
            totam labore id libero voluptatem sit modi. Provident deleniti iusto
            iure, quidem sit pariatur, magnam qui et a dolorem eos adipisci odit
            nemo ullam officiis reprehenderit facere voluptatum excepturi beatae
            vero odio neque. Officiis, nesciunt ullam magnam commodi sequi fuga
            quibusdam hic eos, repudiandae autem praesentium nihil laborum illum
            nostrum mollitia? Nihil soluta consequatur asperiores!
          </p>
        </div>

        <div class="projects-grallery">
          <img
            class="project-gallery-img"
            src="https://picsum.photos/150/100.webp"
            alt="Project Gallery Image 1"
          />
          <img
            class="project-gallery-img"
            src="https://picsum.photos/150/100.webp"
            alt="Project Gallery Image 2"
          />
          <img
            class="project-gallery-img"
            src="https://picsum.photos/150/100.webp"
            alt="Project Gallery Image 3"
          />
        </div>
      </div>
      <div class="rightside-content details-sections">
        <div class="projects-grallery">
          <img
            class="project-gallery-img"
            src="https://picsum.photos/150/100.webp"
            alt="Project Gallery Image 1"
          />
          <img
            class="project-gallery-img"
            src="https://picsum.photos/150/100.webp"
            alt="Project Gallery Image 2"
          />
          <img
            class="project-gallery-img"
            src="https://picsum.photos/150/100.webp"
            alt="Project Gallery Image 3"
          />
        </div>
        <div class="project-descriptions">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil
            sapiente voluptate unde dolorum, aspernatur eos iure cum illo aut
            ducimus animi debitis numquam suscipit qui asperiores placeat dolore
            vero. Cupiditate optio expedita quod perferendis tenetur, sequi
            minima ratione harum quas dolore exercitationem, vitae nobis omnis,
            totam labore id libero voluptatem sit modi. Provident deleniti iusto
            iure, quidem sit pariatur, magnam qui et a dolorem eos adipisci odit
            nemo ullam officiis reprehenderit facere voluptatum excepturi beatae
            vero odio neque. Officiis, nesciunt ullam magnam commodi sequi fuga
            quibusdam hic eos, repudiandae autem praesentium nihil laborum illum
            nostrum mollitia? Nihil soluta consequatur asperiores!
          </p>
        </div>
      </div>

      <a href="#" class="button">Visit Project</a>
    </div>
  </div>
</section>
