.project-details-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.details-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
