---
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";

import HomeHero from "../components/home/hero.astro";
import HomeServiceTitle from "../components/home/title-servicesSection.astro";
import HomeService from "../components/home/service.astro";
import HomeAboutTitle from "../components/home/title-aboutSection.astro";
import HomeAbout from "../components/home/about.astro";
import HomeProjectTitle from "../components/home/title-projectSection.astro";
import HomeProjects from "../components/home/projects.astro";
import HomeContactTitle from "../components/home/title-contactSection.astro";
import HomeContact from "../components/home/contact.astro";

// import HomeServiceStatic from "./../components/home/servicesDetails/ServiceStatic.astro";
// import HomeServiceCustomWP from "./../components/home/servicesDetails/ServiceCustomWP.astro";
// import HomeServiceElementor from "./../components/home/servicesDetails/ServiceElementor.astro";
// import HomeServiceSEO from "./../components/home/servicesDetails/ServiceSEO.astro";

// import HomeMyClients from "../components/home/clients.astro";
// import HomeTestimonial from "../components/home/testimonial.astro";
---

<Layout>
  <main class="snap-container">
    <HomeHero />
    <HomeServiceTitle />
    <HomeService />
    <HomeAboutTitle />
    <HomeAbout />
    <HomeProjectTitle />
    <HomeProjects />
    <HomeContactTitle />
    <HomeContact />
  </main>
</Layout>
