/* //////////////////////// HOME GLOBAL ////////////////////// */

.title-white {
  color: white;
}

.title-right {
  text-align: right;
  padding: 2rem 1rem;
}

/* /////////////////////////////// HERO SECTION //////////////////////////// */

.hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 6rem 5rem 3rem;
  overflow: hidden;
  min-height: 100vh;
  z-index: 99;
  box-sizing: border-box;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  perspective: 1200px;
  width: 100%;
}

.hero-heading-content {
  width: 100%;
  transform-origin: left center;
  transform-style: preserve-3d;
  animation: heroHeading-animation 1s ease forwards;
}

@keyframes heroHeading-animation {
  0% {
    transform: rotateY(5deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.hero-gallery-container {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 2rem);
  padding: 2rem 1rem;
}

.hero-glass-box {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 30rem;
  height: 30rem;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.053);
  /* 2. The key "frosted" effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.hero-gallery-img {
  position: absolute;
  left: 0;
  width: 90%;
  height: 90%;
  perspective: 1200px;
  z-index: 0;
}
.hero-gallery-img-1 {
  position: absolute;
  left: -20px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  transform: rotateY(-7deg);
  z-index: -1;
}
.hero-gallery-img-2 {
  position: absolute;
  right: -20px;
  /* display: none; */
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  z-index: -2;
  scale: 0.98;
}
.hero-gallery-img-3 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.hero-mini-heading {
  margin-bottom: 1rem;
  opacity: 0.8;
}

/* Big highlight word */
.hero-larg-text {
  font-size: 15rem;
  font-family: saans;
  font-weight: 100;
  line-height: 1;
  font-style: normal;
  text-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
}

.hero-contact {
  position: relative;
  width: max-content;
  display: inline-block;
  margin-top: 10px;
}

.hero-contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 30px;
  transition: width 0.3s ease;
}

.hero-contact:hover {
  letter-spacing: 0.5px;
  transform: translateY(-2px);
}

.hero-contact:hover::after {
  width: 0%;
}

/* ////////////////////////////////// GRID ////////////////////////////////// */
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-repeat-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* //////////////////////////////// ABOUT ME SECTION ////////////////////////////////////// */

.skill-grid ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  list-style: none;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.skill-grid ul li {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  /* justify-content: center; */
  border: 1px black solid;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  z-index: 0;
}

.about-skills::after {
  position: absolute;
  content: "";
  border-radius: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(115deg, #ffffff, #eeeeee);
  z-index: -1;
  transition: all 0.3s ease;
  background-size: 200% 200%;
  background-position: 0;
}

.about-skills:hover::after {
  background-position: 100%;
}

.aboutme-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0 2rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.053);
  /* 2. The key "frosted" effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border-radius: 15px;
  margin: 0 2rem;
  box-sizing: border-box;
  perspective: 1200px;
}

.my-img-about {
  width: 95%;
  height: 95%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transform: rotateY(0deg);
  transition: all 0.3s ease;
}

.my-img-about:hover {
  transform: rotateY(5deg);
}

.download-my-cv-btn {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.5px;
  width: max-content;
  transition: all 0.3s ease;
}

.download-my-cv-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: black;
  transition: all 0.3s ease;
}

.download-my-cv-btn:hover::after {
  width: 100%;
}

.donwlod-cv-img {
  width: 20px;
  padding-left: 5px;
}

/* ///////////////////////////////// SERVICE SECTION //////////////////////////////////// */

.services-section {
  background: rgb(255, 255, 255);
}

.service-card img {
  width: 2rem;
}

.service-cards {
  gap: 20px;
  position: relative;
  z-index: 0;
}

.service-card {
  position: relative;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.123);
  padding: 3rem 2rem;
  border-radius: 8px;
  cursor: default;
  transition: all 0.3s ease;
  z-index: 0;
  isolation: isolate;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  z-index: -1;
}

.service-card::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 9px;
  z-index: -2;
  background: linear-gradient(45deg, #ff6ec4, #7873f5, #3ad59f);
  background-size: 200% 200%;
}

.service-card:hover::after {
  animation: gradient-slide 3s linear infinite;
}

@keyframes gradient-slide {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* ////////////////////////////////// PROJECTS SECTION ////////////////////////////// */

.projects-section {
  background: rgb(255, 255, 255);
}

.project-card {
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 50vh;
  margin-bottom: 3.5rem;
}

.projects-images-container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.projects-images-container:hover {
  scale: 0.99;
}

.project-section-img {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
}

.visit-site-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

/* ////////////////////////////////// CLIENT SECTION ////////////////////////////// */

.clients-section {
  text-align: center;
  padding: 1rem 0;
}

.clients-cards {
  place-items: center;
  background-color: #f9f8f6;
  padding-top: 2.7vw;
  padding-bottom: 2.7vw;
}

.client-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 13vw;
}

.client-card img {
  width: 100%;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
}

.client-card img:hover {
  opacity: 1;
}

/* //////////////////////////////////// TESTAMINAL SECTION ///////////////////////////// */

.testimonial-section {
  background: linear-gradient(115deg, #ffffff, #eeeeee, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12vw;
  padding-right: 12vw;
  margin-top: 3rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: rgba(0, 0, 0, 0.03);
  /* 2. The key "frosted" effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border-radius: 30px;
  padding: 2rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0.347);
}

.teatimonial-brand {
  align-items: center;
  text-align: center;
}

.testimonial-content {
  align-items: center;
  text-align: center;
}

.testimonial-content p {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 1.7vw, 1.3rem);
  line-height: 1.8;
  font-weight: 400;
}

.testimonial-client {
  align-items: center;
  text-align: center;
  font-family: "Quicksand";
}

.teatimonial-brand img {
  width: 60px;
  border-radius: 30px;
}

.testimonial-client img {
  width: 50px;
  border-radius: 30px;
}

.testimoniol-strats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimoniol-strats img {
  position: relative;
  width: 100px;
  height: 20px;
  object-fit: cover;
  object-position: center;
}

/* //////////////////////////////////// CONTACT SECTION ///////////////////////////// */

.contact-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-section {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-link {
  /* text-decoration: underline; */
}

.contact-form form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.333);
  padding: 2rem 1.5rem;
  gap: 1rem;
}

.contact-form form input,
.contact-form form textarea {
  border: 1px solid rgba(61, 61, 61, 0.555);
  border-radius: 9px;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
}

.contact-form form input:hover,
.contact-form form textarea:hover {
  border-color: rgba(61, 61, 61, 0.755);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.079);
  transition: all 0.3s ease;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  border-color: rgba(61, 61, 61, 0.755);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.079);
}

.footer-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.form-submit-btn {
  width: 100%;
  background-color: black;
  color: white;
  font-size: clamp(0.95rem, 1.5vw, 1.1rem);
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  border-color: transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.form-submit-btn:hover {
  letter-spacing: normal;
}
