---
import '../../styles/home/home.css';
---

<section id="aboutme" class="section-padding">
      <div class="section-title right-title">
        <div></div>
        <h1>About Me</h1>
      </div>
      <div class="aboutme-section grid-2">
        <div class="aboutme-img">
          <img
            src="/myimage"
            alt="snjeewa dev wordpess web designer developer" />
        </div>
        <div class="aboutme-section-grid">
          <p class="aboutme-section-phara">
            I’m Sanjeewa, a WordPress developer from Sri Lanka with strong
            skills in semantic HTML and responsive CSS, plus growing experience
            in JavaScript and React. I focus on building fast, SEO-ready
            websites that are clean, easy to use, and practical for real
            businesses, while continually improving my frontend skills through
            real client work.
          </p>
          <h2>skills</h2>
          <div class="skill-grid">
            <ul>
              <li><strong>WordPress </strong>Expert</li>
              <li><strong>HTML </strong>Expert</li>
              <li><strong>CSS </strong>Intermediate</li>
              <li><strong>JavaScript </strong>Intermediate</li>
              <li><strong>PHP </strong>Intermediate</li>
              <li><strong>React </strong>Intermediate</li>
            </ul>
          </div>
          <a
            class="download-my-cv-btn"
            href="/assets/files/Letter Head Sanjeewa Dev.pdf"
            download="Sanjeewa-Wordpress-Developer.pdf"
            >Download My CV<img
              class="donwlod-cv-img"
              src="/assets/Icons/resume-download-logo-web-developer-cv.png"
              alt=""
          /></a>
        </div>
      </div>
    </section>