---
import "../../styles/home/home.css";
---

<section id="aboutme" class="section-padding">
  <div class="section-title title-right">
    <div></div>
    <h1>About Me</h1>
  </div>
  <div class="aboutme-section grid-2">
    <div class="aboutme-img">
      <img
        class="my-img-about"
        src="https://picsum.photos/400/350?1"
        alt="snjeewa dev wordpess web designer developer"
      />
    </div>
    <div class="aboutme-section-grid">
      <p class="aboutme-section-phara">
        I’m Sanjeewa, a WordPress developer from Sri Lanka with strong skills in
        semantic HTML and responsive CSS, plus growing experience in JavaScript
        and React. I focus on building fast, SEO-ready websites that are clean,
        easy to use, and practical for real businesses, while continually
        improving my frontend skills through real client work.
      </p>
      <h2>skills</h2>
      <div class="skill-grid">
        <ul>
          <li class="about-skills"><strong>WordPress </strong>Expert</li>
          <li class="about-skills"><strong>HTML </strong>Expert</li>
          <li class="about-skills"><strong>CSS </strong>Intermediate</li>
          <li class="about-skills"><strong>JavaScript </strong>Intermediate</li>
          <li class="about-skills"><strong>PHP </strong>Intermediate</li>
          <li class="about-skills"><strong>React </strong>Intermediate</li>
        </ul>
      </div>
      <a
        class="download-my-cv-btn"
        href="/assets/files/Letter Head Sanjeewa Dev.pdf"
        download="Sanjeewa-Wordpress-Developer.pdf"
        >Download My CV<img
          class="donwlod-cv-img"
          src="/assets/Icons/resume-download-logo-web-developer-cv.png"
          alt=""
        /></a
      >
    </div>
  </div>
</section>
