---
import "../../styles/home/home.css";
---

<section id="clietns" class="clients-section section-padding">
  <div class="section-title title-left" style="display: block">
    <h1>My Clients</h1>
  </div>
  <div class="clients-cards grid-4">
    <div class="client-card">
      <a href="https://elinapix.com/" target="_blank"
        ><img
          src="./assets/Clients/photographer-wordpress-website-design-elinapix.com.png"
          alt="elina pix logo"
        /></a
      >
    </div>
    <div class="client-card">
      <a href="https://motogear.lk/" target="_blank"
        ><img
          src="/assets/Clients/wordpress-website-design-motogear.com.png"
          alt="motogear.lk logo"
        /></a
      >
    </div>
    <div class="client-card">
      <a href="https://aroundlankatravels.com/" target="_blank"
        ><img
          src="/assets/Clients/Around-lanka travels-logo-web-development-srilanka.png"
          alt="aroundlankatravels.com logo"
        /></a
      >
    </div>
    <div class="client-card">
      <a href="https://axivelt.com/" target="_blank"
        ><img
          src="/assets/Clients/website-design-development-axivelt.com.png"
          alt="axivelt.com logo"
        /></a
      >
    </div>
  </div>
</section>
