---
import "../../styles/home/home.css";
---

<section id="contactme" class="contact-me-section section">
  <div class="contacts-section grid-2">
    <div class="contact-details">
      <h1>Contact Me</h1>
      <p>
        <strong>WhatsApp : </strong><a class="contact-link" href=""></a>
      </p>
      <p>
        <strong>Email : </strong><a class="contact-link" href=""
          >service.sanjeewa@gmail.com</a
        >
      </p>
      <p>
        <strong>Instagram : </strong><a class="contact-link" href=""
          >@sanjeewa_vi</a
        >
      </p>
    </div>
    <div class="contact-form">
      <form action="" method="POST">
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <input type="text" name="country" placeholder="Your Country" required />
        <textarea
          rows="7"
          style="resize: none"
          name="message"
          placeholder="Share your thoughts, requirements, or questions"
          required></textarea>
        <button class="form-submit-btn" type="submit">Send Message</button>
      </form>
    </div>
  </div>
</section>
