---
import "../../styles/home-page.css";
---

<section id="contactme" class="contact-me-section section">
  <div class="contacts-section grid-2 container">
    <div class="contact-details">
      <h3>Let's work together</h3>

      <a class="contact-link" href="https://wa.me/94776369256" target="_blank">
        <div class="contact-row">
          <strong>WhatsApp</strong>
          <span>+94 77 636 9256</span>
        </div>
      </a>

      <a class="contact-link" href="mailto:service.sanjeewa@gmail.com">
        <div class="contact-row">
          <strong>Email</strong>
          <span>service.sanjeewa@gmail.com</span>
        </div>
      </a>

      <a
        class="contact-link"
        href="https://instagram.com/sanjeewa_vi"
        target="_blank"
      >
        <div class="contact-row">
          <strong>Instagram</strong>
          <span>@sanjeewa_vi</span>
        </div>
      </a>
    </div>
    <div class="contact-form">
      <form action="" method="POST">
        <h3 style="text-align: start;">Send a message</h3>
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <input type="text" name="country" placeholder="Your Country" required />
        <textarea
          rows="7"
          style="resize: none"
          name="message"
          placeholder="Tell me about your project (e.g. I need a business website...)"
          required></textarea>
        <button class="form-submit-btn" type="submit">Get Free Quote</button>
      </form>
    </div>
  </div>
</section>