---
import '../../styles/home/home.css';
---

<section id="hero" class="hero-section">
      <div class="hero-sec-flex-box hero-contents">
        <ul class="hero-sec-icons">
          <li>
            <a href="https://wordpress.org/" target="_blank"
              ><img src="/assets/Icons/wordpress-logo.png" alt="wordpres icon"
            /></a>
          </li>
          <li>
            <a href="https://elementor.com/" target="_blank"
              ><img src="/assets/Icons/elementor.png" alt="Elementor icon"
            /></a>
          </li>
        </ul>
        <p class="hero-heading-00">WordPress Developer, Sri Lanka</p>
        <div class="hero-heading-content">
          <div class="inline-width-container">
            <h1 class="i-w-h-c-h1-1">Clean, fast</h1>
          </div>
          <div class="inline-width-container">
            <h1 class="i-w-h-c-h1-2">websites</h1>
          </div>
          <div class="inline-width-container">
            <h1 class="i-w-h-c-h1-3">that bring you clients</h1>
          </div>
        </div>

        <a class="hero-btn" href="#contactme">Contact me</a>
      </div>
      <div class="hero-sec-flex-box hero-section-img-box">
        <img
          src="/assets/Hero/wordpress-website-design-develompnet-sanjeewa.dev-hero-section-image.jpg"
          alt="hero section image" />
      </div>
    </section>