---
import "../../styles/home/home.css";
---

<section id="hero" class="hero-section">
  <div class="hero-contents">
    <p class="hero-mini-heading">WordPress Developer, Sri Lanka</p>
    <div class="hero-heading-content">
      <h1>
        Clean, fast<br /><span class="hero-larg-text">websites</span><br />that
        bring you clients
      </h1>
    </div>
    <a class="hero-contact" href="#contactme">Contact me</a>
  </div>
  <div class="hero-glass-container">
    <div class="hero-glass-box"></div>
  </div>
</section>
