---
import "../../styles/home-page.css";
---

<section id="testimonial" class="testimonial-section section">
  <div class="testimonial-card">
    <div class="teatimonial-brand">
      <h3>
        <a href="https://elinapix.com/" target="_blank">ElinaPix.com</a>
      </h3>
    </div>
    <div class="testimoniol-strats">
      <img src="/assets/Icons/rating.png" alt="" />
    </div>
    <div class="testimonial-content">
      <p>
        “Sanjeewa transformed my Instagram presence into a professional website.
        The galleries are beautiful, payments are simple, and the site loads
        quickly. He explained everything clearly and delivered on time. Highly
        recommend.”
      </p>
    </div>
    <div class="testimonial-client">
      <img
        src="/assets/Testimonial/elinapix-event-photographer-france-reviera_001.jpg"
        alt="Elina, photographer"
      />
      <p>Elina Kabakova</p>
      <p>
        Event Photographer in
        <a href="https://frenchriviera.travel/" target="_blank"
          >French Riviera</a
        >
      </p>
    </div>
  </div>
</section>
