---
import "./../../styles/home/home.css";
---

<style>
  .title-section {
    position: relative;
    background-image: url("./../../assets/home/11.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    background-attachment: fixed;
  }

  .title-section-title {
    position: absolute;
    text-align: end;
    bottom: 3rem;
    right: 2.5rem;
  }
</style>
<section class="section title-section">
  <div class="title-section-title">
    <h1>Resent Projects</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus,
      sed?
    </p>
  </div>
</section>
