    <nav id="nav" class="navigation-bar">
      <div class="logo"><a href="/index.html">Sanjeewa.dev</a></div>
      <ul>
        <li><a class="nav-bar-links" href="/index.html">Home</a></li>
        <li><a class="nav-bar-links" href="#aboutme">About me</a></li>
        <li><a class="nav-bar-links" href="#services">Services</a></li>
        <li><a class="nav-bar-links" href="#peojects">Projects</a></li>
        <!-- <li>Blogs</li> -->
        <li><a class="nav-bar-links" href="#clietns">Clients</a></li>
        <li><a class="nav-bar-links" href="#testimonial">Testimonial</a></li>
        <li><a href="#contactme" class="btn-black">Contact me</a></li>
      </ul>
    </nav>