---
import "./loading.css";
---

<section class="loading-page-section">
  <div class="loading-section">
    <div class="loading-logo"><h1>SANJEEWA</h1></div>
    <div class="loading-bar"></div>
    <div class="loading-my-role"><h2>Web Developer</h2></div>
  </div>
</section>

<script src="../../js/loading.js"></script>
