---
import "./footer.css";

import WhatsAppIcon from "../../assets/Social/whatsapp.png";
import EmailIcon from "../../assets/Social/email.png";
import GithubIcon from "../../assets/Social/github.png";
import LinkedinIcon from "../../assets/Social/linkedin.png";
import InstagramIcon from "../../assets/Social/instagram.png";
---

<footer class="footer-section">
  <div class="footer-grid">
    <div class="footer-logo">
      <h3>
        Your website deserves better. Let’s make it fast, modern, and built to
        bring you real clients.
      </h3>
      <div class="footer-social-links">
        <ul>
          <li>
            <a href="https://github.com/" target="_blank"
              ><img
                class="footer-social-icon"
                src={GithubIcon.src}
                alt="Sanjeewa's GitHub Account"
              /></a
            >
          </li>
          <li>
            <a href="https://instagram.com/sanjeewa_vi" target="_blank"
              ><img
                class="footer-social-icon"
                src={InstagramIcon.src}
                alt="Sanjeewa's Instagram Account"
              /></a
            >
          </li>
          <li>
            <a href="https://linkedin.com/" target="_blank"
              ><img
                class="footer-social-icon"
                src={LinkedinIcon.src}
                alt="Sanjeewa's Linkedin Account"
              /></a
            >
          </li>
          <li>
            <a href="https://wa.me/94776369256" target="_blank"
              ><img
                class="footer-social-icon"
                src={WhatsAppIcon.src}
                alt="Sanjeewa's Whatsapp Account"
              /></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-second-grid">
      <div class="footer-navigations">
        <h4>Navigation</h4>
        <ul>
          <li><a href="#nav">Home</a></li>
          <li><a href="#aboutme">About me</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#projects">Projects</a></li>
        </ul>
      </div>
      <div class="footer-contacts">
        <h4>Contact</h4>
        <ul>
          <li><a href="https://wa.me/94776369256">WhatsApp</a></li>
          <li><a href="mailto:service.sanjeewa@gmail.com">Email</a></li>
          <li><a href="#contactme">Inquiry</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom-bar">
    <p class="footer-tagline">
      Web Developer | WordPress Expert | Static Site Specialist
    </p>
    <p>
      © 2026 Sanjeewa.dev
    </p>
  </div>
</footer>