/* //////////////////////////////////// FOOTER SECTION ///////////////////////////// */

.footer-section {
  position: relative;
  height: 45vh;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 3rem;
  min-height: 35vh;
  background-color: white;
  padding-top: 3rem;
}

.footer-second-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-logo {
  position: relative;
}

.footer-logo h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
}

.footer-navigations {
  padding: 0 6vw;
}

.footer-navigations h4 {
  display: inline;
}

.footer-navigations ul {
  list-style: none;
}

.footer-navigations ul li {
  margin: 0.5rem 0;
}

.footer-contacts ul {
  list-style: none;
}

.footer-contacts ul li {
  margin: 0.5rem 0;
}

.footer-contacts {
  padding: 0 6vw;
}

.footer-social-links ul {
  list-style: none;
}

.footer-social-icon {
  width: clamp(20px, 2vw, 30px);
  transition: all 0.3s ease;
}

.footer-social-icon:hover {
  transform: scale(1.08);
}

.footer-social-links ul {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 1rem 0;
}

.footer-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom-bar p {
  padding: 0.5vh 3.5vw;
  font-size: clamp(10px, 0.85vw, 14px);
  color: white;
}

.footer-bottom-bar img {
  width: clamp(10px, 1vw, 16px);
}

.footer-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.form-submit-btn {
  width: 100%;
  background-color: black;
  color: white;
  font-size: clamp(0.95rem, 1.5vw, 1.1rem);
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  border-color: transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.form-submit-btn:hover {
  letter-spacing: normal;
}
