---
import "./footer.css";
---

<footer class="footer-section">
  <div class="footer-grid">
    <div class="footer-logo">
      <h3>
        Your website deserves better, let’s make it fast, modern, and built to
        bring you real clients.
      </h3>
      <div class="footer-social-links">
        <ul>
          <li>
            <a href=""
              ><img
                class="footer-social-icon"
                src="/assets/Social/github.png"
                alt="Sanjeewa's GitHub Account"
              /></a
            >
          </li>
          <li>
            <a href=""
              ><img
                class="footer-social-icon"
                src="/assets/Social/instagram.png"
                alt="Sanjeewa's Instagram Account"
              /></a
            >
          </li>
          <li>
            <a href=""
              ><img
                class="footer-social-icon"
                src="/assets/Social/linkedin.png"
                alt="Sanjeewa's Linkedin Account"
              /></a
            >
          </li>
          <li>
            <a href=""
              ><img
                class="footer-social-icon"
                src="/assets/Social/whatsapp.png"
                alt="Sanjeewa's Whatsapp Account"
              /></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-second-grid">
      <div class="footer-navigations">
        <h4>Navigations</h4>
        <ul>
          <li><a href="#nav">Home</a></li>
          <li><a href="#aboutme">About me</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#peojects">Projects</a></li>
        </ul>
      </div>
      <div class="footer-contacts">
        <h4>Contacts</h4>
        <ul>
          <li><a href="">WhatsApp</a></li>
          <li><a href="">Email</a></li>
          <li><a href="#contactme">Inquiry</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="footer-fixed-name">
    <h4>SANJEEWA</h4>
  </div> -->
  <div class="footer-bottom-bar">
    <p class="footer-tagline">
      Freelance WordPress Developer | Website Design | Frontend Developer in Sri
      Lanka
    </p>
    <p>
      © 2025 Sanjeewa.dev - Built by me :) || Source Code -->
      <a href="https://github.com/sanjeewadev/sanjeewa.dev" target="_blank"
        ><img src="/assets/Icons/my-github-repo-icon.png" alt="" /></a
      >
    </p>
  </div>
</footer>
