/* //////////////////////////////////// FOOTER SECTION ///////////////////////////// */

.footer-section {
  position: relative;
  height: 50vh;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 3rem;
  min-height: 30vh;
  background-color: white;
  padding-top: 3rem;
}

.footer-second-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-logo {
  position: relative;
}

.footer-logo h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
}

.footer-navigations {
  padding: 0 6vw;
}

.footer-navigations h4 {
  display: inline;
}

.footer-navigations ul {
  list-style: none;
}

.footer-navigations ul li {
  margin: 0.5rem 0;
}

.footer-contacts ul {
  list-style: none;
}

.footer-contacts ul li {
  margin: 0.5rem 0;
}

.footer-contacts {
  padding: 0 6vw;
}

.footer-social-links ul {
  list-style: none;
}

.footer-social-icon {
  width: clamp(20px, 2vw, 30px);
  transition: all 0.3s ease;
}

.footer-social-icon:hover {
  transform: scale(1.08);
}

.footer-social-links ul {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 1rem 0;
}

.footer-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom-bar p {
  padding: 0.5vh 3.5vw;
  font-size: clamp(10px, 0.85vw, 14px);
  color: white;
}

.footer-bottom-bar img {
  width: clamp(10px, 1vw, 16px);
}
/* ////// */

/* .footer-fixed-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  z-index: -90;
}

.footer-fixed-name h4 {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  font-size: 10rem;
  font-weight: 700;
  z-index: -99;
} */
