---
import MouseWheel from "../../mouse-wheel/MouseWheel.astro";

import "../../../styles/home-page.css";

---

<section class="title-page">
  <div class="title-page-inner">
    <h1 class="title-page-title">CONTACT ME</h1>
    <div class="title-animation-bar"></div>
    <p class="title-page-sub">Designer • Developer • Problem Solver</p>
  </div>
  <MouseWheel />
</section>
