/* ////////////////////////////////// NAV BAR ////////////////////////////////// */

.navigation-bar {
  position: absolute;
  /* position: fixed; */
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 3vw;
  box-sizing: border-box;
  z-index: 99;
  border-bottom: black solid 1px;
}

.nav-bar-links {
  position: relative;
  width: max-content;
  color: rgb(0, 0, 0);
}

.nav-bar-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1.9px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.navigation-bar a:hover::after {
  width: 100%;
}

.navigation-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.navigation-bar ul li {
  list-style: none;
  font-weight: 500;
  font-size: clamp(10px, 1.5vw, 16px);
}

.logo a {
  font-weight: 400;
  font-size: clamp(25px, 2vw, 30px);
  color: rgb(0, 0, 0);
}
