---
import "./nav-bar.css";
---

<nav id="nav" class="navigation-bar">
  <div class="logo"><a href="/">Sanjeewa.dev</a></div>
  <div>
    <ul>
      <li><a class="nav-bar-links" href="/">Home</a></li>
      <li><a class="nav-bar-links" href="#aboutme">About me</a></li>
      <li><a class="nav-bar-links" href="#services">Services</a></li>
      <li><a class="nav-bar-links" href="#projects">Projects</a></li>
    </ul>
  </div>

  <div>
    <ul>
      <li><a href="#contactme" class="btn-white">Contact me</a></li>
    </ul>
  </div>
</nav>
